# Core DVC with Google Cloud Storage support
dvc[gs]
google-cloud-storage

# Testing
pytest

#experiment tracking
wandb

# Exploratory data analysis
ipykernel
matplotlib
nbclient
nbformat
numpy
pandas
scipy
seaborn
